@@include('../include/_head.html', {
    "page": "event"
    })
    
    </head>
    
    <body>
    
        <h1 class="hidden">오션투유리조트 이벤트/축제</h1>
        <div id="wrap">
    
            <div class="vid-wrap">
    
                @@include('../include/_header.html')
    
    
                <section class="title">
                    <div class="container tit-box">
                        <h2>오션투유리조트 이벤트 / 축제</h2>
                        <div class="mg-"></div>
                        <div class="titTxt"><img src="http://img.ocean2you.co.kr/renew/event/event_title.png" alt="예약하기"></div>
                        <p class="p0">반짝이는 백사장 위로 쏟아지는 별빛을 볼 수 있는 오션투유 리조트로 초대합니다.</p>
                    </div>
                </section>
            </div>

            <div class="banner-box pets" onclick="" style="cursor: pointer;">
                <img src="http://img.ocean2you.co.kr/renew/tbn_pet.jpg" alt="애완동물 동반 투숙 가능" class="show-sm-gte">
                <img src="http://img.ocean2you.co.kr/renew/tbn_pet_m.jpg" alt="애완동물 동반 투숙 가능" width="100%" class="show-xs">
            </div>

            <div class="event-wrap event-wrap-room">
                <div class="container">
                    <div class="event-room">
                        <div class="event-room-area">
                            <a href="http://ocean2you.co.kr/view/?package=so" class="event-main">
                                <img src="http://img.ocean2you.co.kr/renew/event_pop/event_room_detail.jpg" alt="이벤트">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    
            @@include('../include/_footer.html')
        </div>
    
    </body>
    
    </html>