@@include('../include/_head.html', {
"page": "amenities"
})
<script src="http://static.ocean2you.co.kr/js/renew/facil/init.js"></script>

</head>

<body>

    <h1 class="hidden">오션투유리조트 부대시설</h1>
    <div id="wrap">

        <div class="vid-wrap">

            @@include('../include/_header.html')


            <section class="title">
                <div class="container tit-box">
                    <h2>다이닝</h2>
                    <div class="mg-"></div>
                    <div class="titTxt"><img src="http://img.ocean2you.co.kr/renew/facil/facil_title.png" alt="시설소개">
                    </div>
                    <ul class="facil-tab clr" id="facil-tab">
                        <!-- 2021.05.28 텍스트변경 -->
                        <li class="nth-1">
                            <a href="http://ocean2you.co.kr/package/?type=dining">레스토랑 다연</a>
                        </li>
                        <!-- //2021.05.28 텍스트변경 -->
                        <li class="nth-2">
                            <a href="http://ocean2you.co.kr/package/?pack_go=2&type=dining"
                                class="line-two">오션숯불갈비&amp;<span></span>바베큐장</a>
                        </li>
                        <li class="nth-3">
                            <a href="http://ocean2you.co.kr/package/?pack_go=3&type=dining">속초횟집</a>
                        </li>
                        <li class="nth-4">
                            <a href="http://ocean2you.co.kr/package/?pack_go=4&type=dining"
                                class="line-two">반데라바베큐<span></span>플레이츠</a>
                        </li>
                        <li class="nth-5">
                            <a href="http://ocean2you.co.kr/package/?pack_go=5&type=dining">룸서비스</a>
                        </li>
                    </ul>

                </div>
            </section>
        </div>

        <div class="facil-wrap" id="setTop">
            <div class="container" id="facil-box">
                <section class="facil-1 on">
                    <!-- 2021.05.28 텍스트변경 -->
                    <h3>레스토랑 다연</h3>
                    <p class="p0">특급호텔 20년 경력 조리장의 프리미엄 조식뷔페와 단품 조식 서비스 안내</p>
                    <!-- //2021.05.28 텍스트변경 -->
                    <div class="mg-"></div>

                    <ul class="facil-list">
                        <li class="item-1 clr">
                            <a href="http://ocean2you.co.kr/package/?type=dining" class="fc-img">
                                <img src="http://img.ocean2you.co.kr/renew/facil/new_brf_01.jpg" alt="조식뷔페 다연 이미지">
                            </a>
                            <div class="fc-box">
                                <!-- 2021.05.28 텍스트변경 -->
                                <p class="p-0">레스토랑 다연</p>
                                <p class="p-1">다양한 섹션으로 구성된 주말 프리미엄 조식뷔페(약 50종)와
                                    <br class="hidden-xs">주중 단품식사(3종)가 준비되어 있습니다.
                                </p>
                                <p class="p-2">
                                    오션투유 레스토랑 다연은 특급호텔 20년 근무 경력의 조리장이
                                    <br class="hidden-xs">
                                    질 좋은 제철 식재료를 선별하여 요리 하나하나 최고의 맛에 최선을<br>
                                    다하고 있습니다. 특히 양식과 한식으로 다채롭게 구성된 주말 뷔페조식은
                                    <br class="hidden-xs">
                                    경험해 보신 많은 분들에게 큰 만족을 드리고 있습니다.
                                </p>
                                <!-- //2021.05.28 텍스트변경 -->
                            </div>
                            <a href="http://ocean2you.co.kr/package/?type=dining" class="btn-view"
                                title="페이지 이동"><span>자세히보기</span></a>
                        </li>
                        <li class="item-2 clr">
                            <a href="http://ocean2you.co.kr/package/?pack_go=2&type=dining" class="fc-img">
                                <img src="http://img.ocean2you.co.kr/renew/facil/new_rib_01.jpg"
                                    alt="오션숯불갈비 & 바베큐장 이미지">
                            </a>
                            <div class="fc-box">
                                <p class="p-0">오션투유리조트 바베큐장</p>
                                <p class="p-1">소나무 숲 향기와 파도소리를 느끼며 즐기실 수 있는 야외 바베큐장. <br class="hidden-xs">즐거운 바베큐 파티를
                                    즐겨보세요.
                                    (365일 운영/연중무휴)</p>
                                <p class="p-2">
                                    오션투유리조트 설악비치 호텔앤콘도에서는 삼포해변을 바라보며 즐기실 수 있는 <br class="hidden-xs">
                                    바베큐장을 운영하고 있습니다.<br>
                                    오션투유리조트에 흩어지는 바다내음, 숯불내음, <br class="hidden-xs">
                                    그리고 사랑하는 사람에게 건내는 '쌈' 한주먹에는 웃음이 있습니다.
                                </p>
                            </div>
                            <a href="http://ocean2you.co.kr/package/?pack_go=2&type=dining" class="btn-view"
                                title="페이지 이동"><span>자세히보기</span></a>
                        </li>
                        <li class="item-3 clr">
                            <a href="http://ocean2you.co.kr/package/?pack_go=3&type=dining" class="fc-img">
                                <img src="http://img.ocean2you.co.kr/renew/facil/new_fish_01.jpg" alt="속초횟집 이미지">
                            </a>
                            <div class="fc-box">
                                <p class="p-0">속초횟집</p>
                                <p class="p-1">속초횟집에는 웅장한 동해가 보입니다.<br>동해의 신선함, 동해의 바다향, 동해의 푸르름을 느껴보세요.</p>
                                <p class="p-2">
                                    속초횟집은, 청정 동해안에서 직접 잡아 현장에서 즉석으로 준비해드리고 있습니다.<br>
                                    횟감은 청정바다 강원 고성군 현지 어민인 활어회 조리장인이 가진항에서 직접 경매로 낙찰 받아 제공하고 있습니다.
                                </p>
                            </div>
                            <a href="http://ocean2you.co.kr/package/?pack_go=3&type=dining" class="btn-view"
                                title="페이지 이동"><span>자세히보기</span></a>
                        </li>
                        <li class="item-4 clr">
                            <a href="http://ocean2you.co.kr/package/?pack_go=4&type=dining" class="fc-img">
                                <img src="http://img.ocean2you.co.kr/renew/facil/new_bbq_01.jpg"
                                    alt="반데라 리얼바베큐 플레이츠 이미지">
                            </a>
                            <div class="fc-box">
                                <p class="p-0">반데라 리얼바베큐 플레이츠</p>
                                <p class="p-1">훈연의 향이 가득한 반데라 리얼바베큐 플레이츠를 <br class="hidden-xs">동해의 삼포해변에서 즐기실 수 있습니다.
                                </p>
                                <p class="p-2">
                                    정통 바베큐집의 조리법 그대로 챠콜(숯)과 나무 (사과나무, 벚나무, 포도나무, <br class="hidden-xs">
                                    배나무, 복숭아나무, 참나무, 히코리나무, 머스킷나무 등)를 훈연하여 부드러운 <br class="hidden-xs">
                                    바베큐의 식감과 육즙을 즐기실 수 있는 미국 남부식 바베큐 입니다.
                                </p>
                            </div>
                            <a href="http://ocean2you.co.kr/package/?pack_go=4&type=dining" class="btn-view"
                                title="페이지 이동"><span>자세히보기</span></a>
                        </li>
                        <li class="item-5 clr">
                            <a href="http://ocean2you.co.kr/package/?pack_go=5&type=dining" class="fc-img">
                                <img src="http://img.ocean2you.co.kr/renew/facil/new_room_01.jpg" alt="룸서비스 이미지">
                            </a>
                            <div class="fc-box">
                                <p class="p-0">룸서비스</p>
                                <p class="p-1">빠르고 신선한 음식을 바로 즐길 수 있는 <br class="hidden-xs">오션투유 리조트 만의 독보적인 룸서비스 안내</p>
                                <p class="p-2">
                                    오션투유리조트 설악비치 호텔앤콘도에서는 고객님들이 조금 더 편안한 휴식을 <br class="hidden-xs">
                                    즐기실 수 있도록 룸서비스를 운영하고 있습니다.<br>
                                    특급 호텔 30년 경력의 셰프가 직접 싱싱한 활어를 공수하여 제공하는 모듬 회, <br class="hidden-xs">
                                    주문 즉시 조리하는 비법 소스로 맛을 낸 모듬 물회 등을 룸서비스로 만나보세요.
                                </p>
                            </div>
                            <a href="http://ocean2you.co.kr/package/?pack_go=5&type=dining" class="btn-view"
                                title="페이지 이동"><span>자세히보기</span></a>
                        </li>
                    </ul>


                    <!-- 오션투유 객실안내 -->
                    <div class="d-area-1" id="d-area-1"><a href="javascript:;" class="btn-a">오션투유 리조트 객실안내 자세히 보기</a>
                    </div>
                    <section class="facil-2">

                        <h3>Accommodations</h3>
                        <p class="p0">오션투유 리조트만의 편안하고 아늑한 객실에서 격이 다른 휴식과 여유를 경험해보세요.</p>
                        <div class="mg-"></div>

                        <ul class="fc-list" id="room-list">
                            <!--171115 내용추가 및 클래스 수정-->
                            <li class="nth-1">
                                <h4>리노베이션 오션뷰 테라스 / 오션 사이드뷰 테라스 </h4>
                                <div class="bxBox">
                                    <ul class="bxS">
                                        <li><img src="http://img.ocean2you.co.kr/renew/facil/terrace_01.jpg"
                                                alt="리노베이션콘도"></li>
                                        <li><img src="http://img.ocean2you.co.kr/renew/facil/terrace_02.jpg"
                                                alt="리노베이션콘도"></li>
                                        <li><img src="http://img.ocean2you.co.kr/renew/facil/terrace_03.jpg"
                                                alt="리노베이션콘도"></li>
                                        <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reCdOc_01.jpg"
                                                alt="리노베이션콘도">
                                        </li>
                                        <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reCdOc_02.jpg"
                                                alt="리노베이션코도">
                                        </li>
                                        <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reCdOc_03.jpg"
                                                alt="리노베이션코도">
                                        </li>
                                        <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reCdOc_04.jpg"
                                                alt="리노베이션코도">
                                        </li>
                                        <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reCdOc_05.jpg"
                                                alt="리노베이션코도">
                                        </li>
                                        <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reCdOc_06.jpg"
                                                alt="리노베이션코도">
                                        </li>
                                        <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reCdOc_07.jpg"
                                                alt="리노베이션코도">
                                        </li>
                                    </ul>
                                    <div class="txt-box">
                                        <p class="p1">리노베이션 오션뷰 테라스 / 오션 사이드뷰 테라스</p>
                                        <p class="p2"><span class="xs-block">바다가 한폭의 그림처럼 펼쳐지며,</span> 원목의 테라스가 있는 프라이빗한
                                            콘도형
                                            디럭스룸 </p>
                                        <a href="/view/" class="more-a"><span class="s0">예약하기</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="nth-2">
                                <h4>오션투유 리노베이션 콘도</h4>
                                <div class="bxBox">
                                    <ul class="bxS">
                                        <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reCdOc_01.jpg"
                                                alt="리노베이션콘도">
                                        </li>
                                        <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reCdOc_02.jpg"
                                                alt="리노베이션코도">
                                        </li>
                                        <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reCdOc_03.jpg"
                                                alt="리노베이션코도">
                                        </li>
                                        <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reCdOc_04.jpg"
                                                alt="리노베이션코도">
                                        </li>
                                        <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reCdOc_05.jpg"
                                                alt="리노베이션코도">
                                        </li>
                                        <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reCdOc_06.jpg"
                                                alt="리노베이션코도">
                                        </li>
                                        <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reCdOc_07.jpg"
                                                alt="리노베이션코도">
                                        </li>
                                    </ul>
                                    <div class="txt-box">
                                        <p class="p1">리노베이션 콘도 오션뷰</p>
                                        <p class="p2"><span class="xs-block">고급스러운 색채와 편안한 분위기의 침실,</span> 넓은 공간 활용이
                                            매력적이며 취사가
                                            가능한 콘도형 룸</p>
                                        <a href="/view/" class="more-a"><span class="s0">예약하기</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="nth-2">
                                <h4>오션투유 리노베이션 호텔</h4>
                                <div class="bxBox">
                                    <ul class="bxS">
                                        <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reHtOc_01.jpg"
                                                alt="리노베이션호텔">
                                        </li>
                                        <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reHtOc_02.jpg"
                                                alt="리노베이션호텔">
                                        </li>
                                        <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reHtOc_03.jpg"
                                                alt="리노베이션호텔">
                                        </li>
                                        <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reHtOc_04.jpg"
                                                alt="리노베이션호텔">
                                        </li>
                                        <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reHtOc_05.jpg"
                                                alt="리노베이션호텔">
                                        </li>
                                        <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reHtOc_06.jpg"
                                                alt="리노베이션호텔">
                                        </li>
                                    </ul>
                                    <div class="txt-box">
                                        <p class="p1">리노베이션 호텔 오션뷰</p>
                                        <p class="p2"><span class="xs-block">편안하고 아늑한 분위기의 침실과</span> 독립적 공간 활용이 매력적인
                                            호텔형 오션뷰 룸
                                        </p>
                                        <a href="/view/" class="more-a"><span class="s0">예약하기</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="nth-3">
                                <h4>오션투유 콘도</h4>
                                <div class="bxBox">
                                    <ul class="bxS">
                                        <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_oc_01.jpg"
                                                alt="일반콘도오션뷰">
                                        </li>
                                        <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_oc_02.jpg"
                                                alt="일반콘도오션뷰">
                                        </li>
                                        <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_oc_03.jpg"
                                                alt="일반콘도오션뷰">
                                        </li>
                                        <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_oc_04.jpg"
                                                alt="일반콘도오션뷰">
                                        </li>
                                        <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_oc_05.jpg"
                                                alt="일반콘도오션뷰">
                                        </li>
                                        <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_oc_06.jpg"
                                                alt="일반콘도오션뷰">
                                        </li>
                                        <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_oc_07.jpg"
                                                alt="일반콘도오션뷰">
                                        </li>
                                    </ul>
                                    <div class="txt-box">
                                        <p class="p1">일반콘도 오션뷰</p>
                                        <p class="p2">
                                            <span class="xs-block">편안한 인테리어와 아름다운</span> 삼포해변이 한눈에 보이는 콘도형 오션뷰 룸<br>
                                            23평/ 4인실(최대7명)
                                        </p>
                                        <a href="/view/" class="more-a"><span class="s0">예약하기</span></a>
                                    </div>
                                </div>

                                <div class="bxBox nth-2">
                                    <ul class="bxS">
                                        <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_mt_01.jpg"
                                                alt="일반콘도마운틴뷰">
                                        </li>
                                        <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_mt_02.jpg"
                                                alt="일반콘도마운틴뷰">
                                        </li>
                                        <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_mt_03.jpg"
                                                alt="일반콘도마운틴뷰">
                                        </li>
                                    </ul>
                                    <div class="txt-box">
                                        <p class="p1">일반콘도 마운틴뷰</p>
                                        <p class="p2">
                                            <span class="xs-block">편안한 인테리어와 아름다운 설악산의</span> 웅장함이 보이는 콘도형 마운틴뷰 룸<br>
                                            23평/ 4인실(최대7명)
                                        </p>
                                        <a href="/view/" class="more-a"><span class="s0">예약하기</span></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </section>
                </section>
            </div>

            @@include('../include/_footer.html')
        </div>

</body>

</html>