<!DOCTYPE html>

<html lang="ko-KR">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
  <meta name="description" content="강원도, 고성, 속초, 삼포, 동해, 설악산, 리조트, 콘도, 펜션, 호텔, 여행, 속초가볼만한곳, 속초해수욕장, 삼포해수욕장, 연회장">
  <title>오션투유리조트 속초설악비치 호텔앤콘도</title>

  <meta property="og:locale" content="ko_KR">
  <meta property="og:type" content="website">
  <meta property="og:title" content="오션투유리조트">
  <meta property="og:title" content="오션투유리조트 속초설악비치 호텔앤콘도">
  <meta property="og:description" content="강원도, 고성, 속초, 삼포, 동해, 설악산, 리조트, 콘도, 펜션, 호텔, 여행, 속초가볼만한곳, 속초해수욕장, 삼포해수욕장, 연회장">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="오션투유리조트 속초설악비치 호텔앤콘도">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:description"
    content="강원도, 고성, 속초, 삼포, 동해, 설악산, 리조트, 콘도, 펜션, 호텔, 여행, 속초가볼만한곳, 속초해수욕장, 삼포해수욕장, 연회장">
  <meta name="twitter:title" content="오션투유리조트 속초설악비치 호텔앤콘도">

  <!-- Font -->
  <link rel="stylesheet" href="http://static.ocean2you.co.kr/fonts/nanumbarungothic/nanumbarungothic.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">

  <!-- Library CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">

  <!-- CSS -->
  <link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/reset_custom.css">
  <link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/totalweb.css">
  <link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/jquery.mb.YTPlayer.css">
  <link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/common.css">
  <link rel="stylesheet" href="http://static.ocean2you.co.kr/css/go/faq-v1.1.css" />

  <!-- local CSS -->
  <link rel="stylesheet" href="../../static/css/renew/common.css">
  <link rel="stylesheet" href="../../static/css/renew/@@page/init.css">


  <!-- Library JS -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  <script src="http://static.ocean2you.co.kr/js/renew/jquery.easing.min.js"></script>
  <script src="http://static.ocean2you.co.kr/go/js/swiper.min.js"></script>
  <script src="http://static.ocean2you.co.kr/go/js/jwSlide_ver2.js"></script>

  <!-- JS -->
  <script src="http://static.ocean2you.co.kr/js/renew/common_ocean.js"></script>
  <script src="http://static.ocean2you.co.kr/js/renew/totalweb.js"></script>

  <!-- local JS -->
  <script src="../../static/js/renew/common_ocean.js"></script>
  <script src="../../static/js/renew/@@page/init.js"></script>