@@include('../include/_head.html', {
"page": "intro"
})

</head>

<body>

    <h1 class="hidden">오션투유리조트 소개</h1>
    <div id="wrap">


        <div class="layer-pop-bg" id="pop-bustour" style="display: none;">
            <div class="bus-pop-wrap">
                <div class="bus-pop-con">
                    <a href="http://ocean2you.co.kr/view/" target="_blank" title="예약 페이지로 이동">
                        <img src="http://img.ocean2you.co.kr/renew/pop_bustour2.jpg" alt="오션투유리조트 버스투어 이용권 구매하기">
                    </a>
                </div>
                <a href="javascript:;" class="btn-pop-close"></a>
            </div>
        </div>

        <div class="vid-wrap">

            @@include('../include/_header.html')

            <section class="title">
                <div class="container tit-box">
                    <h2>오션투유 리조트 소개</h2>
                    <div class="mg-"></div>
                    <div class="titTxt">
                        <img src="http://img.ocean2you.co.kr/renew/intro/intro_title.png" alt="오션투유리조트소개">
                    </div>
                    <p class="p0">반짝이는 백사장 위로 쏟아지는 별빛을 볼 수 있는 오션투유 리조트로 초대합니다.</p>

                    <!-- 2021.05.31 오션투유 소개 탭메뉴 추가 -->
                    <div class="intro-menu">
                        <a href="#none" class="active">오션투유 소개</a>
                        <a href="#none">고객리뷰</a>
                        <a href="#none">공지사항</a>
                    </div>
                    <!-- //2021.05.31 오션투유 소개 탭메뉴 추가 -->
                </div>
            </section>
        </div>

        <!-- 2021.05.31 소개 내용 탭형식 추가 -->
        <div class="intro-cont">
            <div class="introSection tabFirst">
                <!-- 오션투유 소개 -->
                <section class="resort" id="setTop">
                    <div class="container">
                        <!-- title -->
                        <div class="intro-tit">
                            <h4>오션투유리조트 호텔앤콘도</h4>
                            <p>반짝이는 백사장 위로 쏟아지는 별빛, 아름드리 해변!</p>
                        </div>

                        <figure class="resortImg"><img src="http://img.ocean2you.co.kr/renew/intro/resort.jpg"
                                alt="리조트사진">
                        </figure>

                        <h3 class="p0">해변의 명물인 호미섬의 낭만이 있는곳 오션투유 리조트 속초설악비치 호텔앤콘도</h3>
                        <div class="mg-"></div>
                        <p class="p1">
                            천혜의 절경, 삼포해수욕장을 배경으로 한 우리 오션투유는<br>
                            전 객실 23평형의 250객실로 수련회, 단합대회, 야유회 등 학교 및 기업의 단체 숙박에 최적의 장소입니다.
                        </p>
                        <p class="p2">
                            오션투유리조트에는 워크숍, 세미나, 교육연수 등 단체 활동을 위한 다양한 부대시설이 준비되어 있습니다.<br>
                            지하 1층 125평의 소 연회장, 지상 2층 145평의 대 연회장, 지상1층에 마련된 200명이 앉을 수 있는 255평의 바비큐장 뿐 아니라<br>
                            특급호텔 30년 근무 경력의 조리장 3명이 근무하는 품격 있는 뷔페 서비스를 저렴한 가격으로 이용 할 수 있습니다.
                        </p>

                        <div class="btn-area">
                            <a href="#" class="rv-a a1"><img class="i_user"
                                    src="http://img.ocean2you.co.kr/renew/i_user.png" alt="">
                                <span class="s0">단체예약 문의
                                    하기</span>
                                <img src="http://img.ocean2you.co.kr/renew/i_gtB.png" alt="" class="gt">
                            </a>
                            <a href="#" class="rv-a">
                                <span class="s0">예약하기</span>
                                <img src="http://img.ocean2you.co.kr/renew/i_gt.png" alt="" class="gt">
                            </a>
                        </div>
                    </div>
                </section>

                <section class="oc2-point">
                    <div class="point-container">
                        <ul class="point-ul">
                            <li>
                                <div class="point-img-box img-left"><img
                                        src="http://img.ocean2you.co.kr/renew/intro/clam.jpg" alt="은빛모래"></div>
                                <div class="txt-box">
                                    <p class="p00">Oceantoyou Resort Point 1.</p>
                                    <h3>반짝이는 은빛 모래 속 가득한 보물</h3>
                                    <p>
                                        <span class="xs-inline">오션투유 리조트 앞에 펼쳐진 삼포해변은 반짝거리는 아름다운</span>
                                        모래사장으로 유명합니다.
                                    </p>
                                    <p>
                                        이 삼포해변에는 숨은 보물을 찾는 재미로 가득합니다.
                                    </p>
                                    <p>
                                        <span class="xs-inline">삼포 해변의 고운 백사장이 숨겨놓은 보물, 조개를 잡으며 즐거운</span>
                                        하루를 만들어보세요.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="txt-box">
                                    <p class="p00">Oceantoyou Resort Point 2.</p>
                                    <h3>별빛이 쏟아지는 환상적인 뷰</h3>
                                    <p>
                                        꽉막힌 가슴을 시원하게 만들어 줍니다.
                                    </p>
                                    <p>
                                        하얀 백사장 위로 매일밤 쏟아지는 별빛을 볼 수 있는<br>
                                        <span class="xs-inline">오션투유 리조트는 매일밤 당신을 환상적인 한폭의 그림 속으로</span>
                                        초대합니다.
                                    </p>
                                </div>
                                <div class="point-img-box img-right">
                                    <img class="img-correction" src="http://img.ocean2you.co.kr/renew/intro/coast.jpg"
                                        alt="탁트인해안선">
                                </div>
                            </li>
                        </ul>
                        <div class="book-introduce">
                            <div class="book-img-box"><img src="http://img.ocean2you.co.kr/renew/evt_book.jpg"
                                    alt="도서 : 죽기전에 꼭 가봐야할 국내 여행 1001"></div>
                            <div class="book-title-box">
                                <h4>베스트 여행서에 소개된 ‘삼포해수욕장’</h4>
                                <p class="p00">여행서 '죽기 전에 꼭 가봐야 할 국내여행 1001'</p>
                            </div>
                            <div class="book-txt-box">
                                <p>
                                    해당화와 울창한 소나무 솔숲으로 유명한 삼포해수욕장은 길이 800m, 폭 75m가 되는 모래사장과, <br class="hidden-xs">
                                    경사도 2~3도의 바닷가는 물깊이가 1~2m 정도로서 어느 곳에서도 해수욕의 즐거움을 한껏 누릴 수 있습니다.
                                </p>
                            </div>
                            <a class="btn-go-sampo" href="http://sampobeach.co.kr/" target="_blank" class="btn-link"
                                title="페이지 이동">삼포해수욕장 공식홈페이지 <span class="ic-rArrow"></span></a>
                        </div>
                    </div>
                </section>
                <!-- //오션투유 소개 -->
            </div>
            <div class="introSection">
                <!-- 고객리뷰 -->
                <section class="oc2-fun" id="oc2-fun">
                    <div class="fun-container">
                        <div class="fun-title-box">
                            <h3>슬기로운 오션투유 10배 즐기기!</h3>
                            <p class="p-sub">조개잡이, 조개캐기 등의 체험은 무료</p>
                            <div class="title-bar"></div>
                            <p class="p-sub">게, 멍개 해삼, 전복, 가리비, 낙지, 문어, 멸치, 미역새우, 비단조개, 모시조개, 불가사리가 잡히는 이곳 삼포해변</p>
                            <p class="p-tag">
                                #오션뷰 #씨뷰 #바다뷰 #고래뷰 #리모델링객실</span>
                                <br>
                                <span>#펫룸 #강아지동반 #애견동반여행 #애견동반리조트 #반려견동반호텔</span>
                            </p>
                        </div>
                        <ul class="fun-ul">
                            <li>
                                <a href="https://blog.naver.com/bunddo/221547032286" target="_blank">
                                    <div class="fun-img-box">
                                        <img src="http://img.ocean2you.co.kr/renew/review/review01.jpg" alt="이미지">
                                    </div>
                                    <div class="fun-txt-box">
                                        <div class="fun-txt-title">
                                            <h5>
                                                <span class="span-title">강원도 고성 삼포해변, 올해 첫 조개수확 </span>
                                                <span class="span-review"> &nbsp[리뷰보기]</span>
                                            </h5>
                                        </div>
                                        <div class="txt-small txt-keyword">
                                            <p class="p-tit"><span>키워드</span></p>
                                            <p class="p-content"><span>조개잡이, 조개캐기 체험</span></p>
                                        </div>
                                        <div class="txt-small txt-blogger">
                                            <p class="p-tit"><span>블로거</span></p>
                                            <p class="p-content"><span>검정고무신</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <!-- <button type="button" class="btn-show-fun">더 많은 리뷰보기</button> -->
                    </div>
                </section>
                <!-- //고객리뷰 -->
            </div>
            <div class="introSection">
                <!-- 공지사항 -->
                <section class="ocean-notice">
                    <div class="container">
                        <!-- title -->
                        <div class="intro-tit">
                            <h4>공지사항</h4>
                            <p>청정자연과 프라이빗 전용해변의 만남 오션투유리조트입니다.</p>
                        </div>
                        <!-- 공지사항 -->
                        <div class="notice-list">
                            <ul class="notice-head">
                                <li class="subject">제목</li>
                                <li class="date">작성일</li>
                                <li class="views">조회수</li>
                            </ul>
                            <div class="notice-cont">
                                <ul class="ct-info">
                                    <li class="info">
                                        <a href="#none">오션투유 2021년 성수기 관련 안내</a>
                                    </li>
                                    <li class="date">2021.05.04</li>
                                    <li class="views">72</li>
                                </ul>
                                <ul class="ct-info">
                                    <li class="info">
                                        <a href="#none">오션투유 2021년 성수기 관련 안내 및 공지사항</a>
                                    </li>
                                    <li class="date">2021.05.04</li>
                                    <li class="views">72</li>
                                </ul>
                                <ul class="ct-info">
                                    <li class="info">
                                        <a href="#none">오션투유 2021년 성수기 관련 안내 안내 및 공지사항</a>
                                    </li>
                                    <li class="date">2021.05.04</li>
                                    <li class="views">72</li>
                                </ul>
                                <ul class="ct-info">
                                    <li class="info">
                                        <a href="#none">오션투유 2021년 성수기 관련 안내 안내 및 공지사항안내</a>
                                    </li>
                                    <li class="date">2021.05.04</li>
                                    <li class="views">72</li>
                                </ul>
                                <ul class="ct-info">
                                    <li class="info">
                                        <a href="#none">오션투유 2021년 성수기 관련 안내 및 공지사항</a>
                                    </li>
                                    <li class="date">2021.05.04</li>
                                    <li class="views">72</li>
                                </ul>
                                <!-- 공지사항 게시판 페이지 이동 -->
                                <div class="ct-infobox"></div>
                                <!-- //공지사항 게시판 페이지 이동 -->
                            </div>
                        </div>
                    </div>
                </section>
                <!-- //공지사항 -->
            </div>
        </div>

        <script>
            $(function () {
                $('.introSection').hide();
                $('.tabFirst').show();
                $('.intro-menu a').click(function () {
                    $(this).addClass('active');
                    $(this).siblings().removeClass('active');

                    var idx = $('.intro-menu a').index(this);
                    $('.introSection').hide();
                    $('.introSection').eq(idx).show();
                })
            });
        </script>
        <!-- //2021.05.31 소개 내용 탭형식 추가 -->

        <script>

            $(document).ready(function () {
                //리스트 세팅하기
                funListSetting();

                //오션튜유 즐기기 스크롤 보기
                let hideList = $('.oc2-fun .fun-ul>li:nth-of-type(n+5)');
                //리스트 숨기기
                hideList.hide();
                let scrollShow = $('.oc2-fun .fun-ul>li:nth-of-type(4)');
                //스크롤 바텀기준
                if (scrollShow.length > 0) {
                    let scrollShowPos = $(document).height() - scrollShow.offset().top - scrollShow.height() - 180;

                    //스크롤시 작동
                    $(window).on('scroll', function () {
                        let currentScroll = $(document).height() - $(window).height() - $(window).scrollTop();
                        //리스트 보이기
                        if (scrollShowPos > currentScroll) {
                            hideList.show();
                        }
                    });
                }
                // let hideList = $('.oc2-fun .fun-ul>li:nth-of-type(n+5)');
                // hideList.hide();
                // // hideList.css('opacity', '0.0');
                // $('.btn-show-fun').on('click',function(){
                //     hideList.show();
                //     // hideList.fadeTo(1200 ,1.0);
                //     // hideList.fadeIn("slow");
                //     $(this).hide();
                // });

            });

            funListSetting = function () {
                //샘플 가져오기
                let listTamp = $('.oc2-fun .fun-ul>li:nth-of-type(1)');
                let listSample = listTamp.clone().wrap('<div/>').parent();

                listTamp.remove();

                let funListArr = new Array();
                //

                /* 2021.05.11 리뷰추가 */
                setFunList(funListArr, "review22.jpg", "오션투유리조트 애견동반숙소 아이랑 가족여행", "아이와여행, 전동바이크, 삼포해변, 시설리뷰", "어리정", "https://blog.naver.com/lopil22/222078138444");
                setFunList(funListArr, "review23.jpg", "오션투유리조트 애견동반숙소 이용팁", "펫룸, 삼포해변 물놀이, 시설리뷰", "하영태훈엄마", "https://blog.naver.com/xix7891/222081330591");
                setFunList(funListArr, "review24.jpg", "오션투유리조트, 삼포해변 앞 애견동반숙소", "조식부페, 일출, 불꽃놀이, 시설리뷰", "퍼플래빗", "https://blog.naver.com/birdkiss78/222125847476");
                setFunList(funListArr, "review25.jpg", "조개잡이체험 가능한 고성 오션투유리조트, 즐거웠던 고성여행", "시설리뷰, 일출, 조식뷔페, 삼포해변", "뷰스타 꽃혜정", "https://blog.naver.com/2626001_/222126175814");
                setFunList(funListArr, "review26.jpg", "오션투유리조트 조개잡이체험 가능한 고성여행숙소 추천", "조개잡이, 시설리뷰, 삼포해변, 조식뷔페", "나는야간다", "https://blog.naver.com/ahrehdtpck/222122942902");
                setFunList(funListArr, "review27.jpg", "오션투유리조트 삼포해변과 가까워 아이들과 함께 이용", "시설리뷰, 룸서비스, 불꽃놀이, 조식뷔페, 전동바이크, 모래놀이", "꼼지락행복여행자", "https://blog.naver.com/miranlee98/222119505149");
                setFunList(funListArr, "review28.jpg", "오션투유리조트 : 고성 애견동반 오션뷰숙소", "시설리뷰, 펫룸", "엄져니", "https://blog.naver.com/djawlgus232/222119373536");
                setFunList(funListArr, "review29.jpg", "오션투유리조트 덕분에 삼포해변을 누렸어요", "시설리뷰, 모래놀이, 삼포해변", "서연", "https://blog.naver.com/bgarbtia/222089503430");
                setFunList(funListArr, "review30.jpg", "강원도여행 고성 오션투유리조트 삼포해변 조개잡이 되네", "시설리뷰, 삼포해변, 룸서비스, 조식리뷰", "핑크앤피망", "https://blog.naver.com/kmk1572/222088369494");
                /* //END-리뷰추가 */

                /* 2021.05.11 주석처리: 고성 오션투유리조트 */
                //setFunList(funListArr, "review17.jpg", "고성 오션투유리조트", "해삼, 멍게잡이 체험","Philosophia","https://ooc77.blog.me/221976491477");
                setFunList(funListArr, "review18.jpg", "강원도 고성군 속초 애견동반가능 숙소-오션투유리조트 (오션뷰, 고래뷰룸)", "객실서 고래뷰, 펫룸", "앤그레이스", "https://blog.naver.com/ngrace_/221889058715");

                /* 2021.05.11 주석처리: 고성 오션투유콘도 */
                //setFunList(funListArr, "review19.jpg", "고성 오션투유콘도", "시설리뷰, 모듬회, 물회", "Philosophia", "https://ooc77.blog.me/221878320705");
                setFunList(funListArr, "review20.jpg", "[속초여행] 오션뷰 오션투유에서 숙박하고 삼포해변 산책", "해안산책, 일출뷰", "엔젤쪈", "https://blog.naver.com/cullin/221806652688");
                setFunList(funListArr, "review21.jpg", "고성에 가면 조개를 잡으세요! 뚜비두바뚜비두바", "조개캐기, 조개잡이 꿀팁", "감성쏠매", "https://blog.naver.com/soulmae8/222064924133");
                //
                setFunList(funListArr, "review01.jpg", "강원도 고성 삼포해변, 올해 첫 조개수확", "조개잡이, 조개캐기 체험", "검정고무신", "https://blog.naver.com/bunddo/221547032286");
                setFunList(funListArr, "review02.jpg", "아이들과 조개잡이 하기 좋은 곳 강원도 고성, 삼포해수욕장", "비단조개잡이, 물놀이", "주도와", "https://blog.naver.com/ggujibbong/221329866263");
                setFunList(funListArr, "review03.jpg", "강원도 고성여행, 삼포해수욕장 오션투유리조트", "서핑, 게잡이, 게낚시, 일출, 캠프", "아스크라", "https://blog.naver.com/ktmbada/221404850019");
                setFunList(funListArr, "review04.jpg", "강원도 고성 삼포해수욕장 당일치기 조개잡기 추천!", "조개잡이. 조개캐기 체험, 여름해변", "날아라마녀씨", "https://blog.naver.com/queen77577/221607348275");
                //
                setFunList(funListArr, "review05.jpg", "삼포해수욕장 멸치출몰 + 조개잡기, 미역따기", "멸치, 조개, 미역따기, 물놀이, 불꽃놀이", "미니둥이", "https://blog.naver.com/jeseram/221301339747");
                setFunList(funListArr, "review06.jpg", "속초 오션투유리조트 후기!", "조개잡이, 넓은객실, 풍부한부대시설", "문", "https://blog.naver.com/fsglcahu/221978147288");
                setFunList(funListArr, "review07.jpg", "애견과 함께 1박2일 고성(속초)여행", "애견동반, 펫룸, 바베큐, 라바짜, 조식", "heetai0417", "https://blog.naver.com/heetai0417/221975623708");
                setFunList(funListArr, "review08.jpg", "아이들과 함께 급으로떠난 강원여행 코스추천", "야경, 룸서비스, 불꽃놀이, 청결한객실", "앙쥬랑공간스케치", "https://blog.naver.com/wlyssj/221762692693");
                //
                setFunList(funListArr, "review09.jpg", "속초 가족여행 먹방투어", "룸서비스, 조개잡이, 주변관광", "검정고무신", "https://blog.naver.com/bunddo/221555700035");
                setFunList(funListArr, "review10.jpg", "삼포해변 오션투유리조트 & 조식 이용후기", "풍부한조식, 다연레스토랑", "주도와", "https://blog.naver.com/ggujibbong/221331180284");
                setFunList(funListArr, "review11.jpg", "오션투유리조트 1박 후기 만족만족", "오션뷰, 조식메뉴", "문", "https://fsglcahu.blog.me/221783028297");
                setFunList(funListArr, "review12.jpg", "가족 호캉스는 오션투유리조트 강추!", "호캉스, 좋은객실, 오션뷰", "공구지기", "https://blog.naver.com/sst0920/221721176422");
                //
                setFunList(funListArr, "review13.jpg", "오션투유리조트 가성비 최고!", "무인판매기, 넓은객실, 오션뷰", "개냥이세상", "https://blog.naver.com/fjvfeewt/221741460365");
                setFunList(funListArr, "review14.jpg", "강원도 고성 삼포해변 오션투유리조트", "겨울여행, 오션뷰, 넓은객실", "청담하이푸클리닉", "https://blog.naver.com/surrr4/221755313881");

                /* 2021.05.11 주석처리:오션투유 오션뷰 */
                //setFunList(funListArr, "review15.jpg", "고성 오션투유리조트 오션뷰 엄지척!", "넓은객실, 오션뷰, 룸서비스", "다나음한의원", "https://blog.naver.com/lsukhee0311/221726793093");
                setFunList(funListArr, "review16.jpg", "오션투유리조트 마운틴뷰 이용후기!", "마운틴뷰, 리모델링, 넓은객실", "미소", "https://blog.naver.com/lthddd/221753950961");


                /*세팅*/
                $(funListArr).each(function (index, item) {
                    listSample.find("h5 .span-title").text(item.title);
                    listSample.find(".fun-img-box img").attr("src", item.img);
                    listSample.find("li>a").attr("href", item.url);
                    listSample.find(".txt-keyword .p-content span").text(item.keyword);
                    listSample.find(".txt-blogger .p-content span").text(item.blogger);
                    let funUl = $('.oc2-fun .fun-ul').append(listSample.html());
                });
            }

            setFunList = function (funListArr, img, title, keyword, blogger, url) {
                let = baseImgPath = "http://img.ocean2you.co.kr/renew/review/";

                let funListObj = new Object();
                funListObj.title = title;
                funListObj.img = baseImgPath + img;
                funListObj.url = url
                funListObj.keyword = keyword;
                funListObj.blogger = blogger;
                funListArr.push(funListObj);
            }


        </script>

        <!-- 우측 날개 배너 -->
        <div class="rBn-box">
            <a href="http://ocean2you.co.kr/view/"><img src="http://img.ocean2you.co.kr/renew/group/group_bn_01.png"
                    alt="일반예약하러가기"></a>
        </div>
        <!-- //우측 날개 배너 -->

        @@include('../include/_footer.html')

    </div>

</body>

</html>